[server]
host = FQDN or IP address
port = 8834
login = user
password = password
api_akey =
api_skey=

# These are the Nessus defaults.
[settings]
safe_checks = yes

# INSECURE. For testing envs only.
[creds]
smb_user = user
smb_pass = password
smb_domain =
smb_user1 =
smb_pass1 =
smb_domain1 =
smb_user2 =
smb_pass2 =
smb_domain2 =
smb_user3 =
smb_pass3 =
smb_domain3 =

ssh_user = user
ssh_pass = password

[prefs]
cgi = no
paranoid = Normal
supplied_logins = no
thorough = no
verbose = Normal
tag = CLI
silent_deps = no
